.jumbotron {
    margin-bottom: 0px;
    background-image: url('../images/bg1.png');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 3.5cm;
    /* color: white; */
    /* text-shadow: black 0.3em 0.3em 0.3em; */
}
